@use "./variables.scss" as *;

article p,
article li {
  line-height: 2rem;
}

.search .result-card {
  text-align: start !important;
}

pre,
code,
figure[data-rehype-pretty-code-figure] *,
.ltr,
.ltr * {
  direction: ltr;
}
